body {
  font-family:Arial,sans-serif;
  margin: 0;
  padding: 0;
  Background-color:white;

}

header {
  display: flex;
  background:black;
  padding:15px;
  text-align: center;
  position: relative;
}

 header .profile-img {
    width:100px;
    border-radius:50%;  
    margin-right:10px;
    border: 3px solid white;
    padding: 2;

  }
  
  header h1 {
      flex: 1;
      text-align: center;
      margin: 0;
      font-size: 3em;
      text-decoration: underline double ;
      text-underline-offset: 6px;
      color:white;
      font-weight: bold;
      

    }


  .home,.services {
  background:wheat;
  margin: 20px;
  padding: 15;
  border-radius: 8px;

 }

  form{
    display:flex;
    flex-direction:column;
    
  }

  label{
    margin-top:10px;
    font-weight: bold;
  }
  
  input,textarea{
    padding:8px;
    margin-top:5px;
  }

  button{
    margin-top:15px;
    padding:10px;
    background:blue;
    color:black;
    border:black;
    cursor:grab;
    border-radius: 5px;
    font-weight:bold;
  
  }

  button:hover {
    background: blue;
   
  }

  .services ul {
    list-style-type:square;
    padding-right: 20px;
    color: black;
    font-weight: bold;
    
  }

  footer{
    text-align: center;
    padding:10px;
    background: black;
    color: white;
    margin-top: 20px;
    text-decoration: underline double ;
    font-weight: bold;
  }

